# Node.js dependencies
node_modules/

# Environment variables
config/config.env

# Log files
logs/
*.log

# Dependency directories
bower_components/

# Build output directories
dist/
build/

# Temporary files
*.tmp
*.swp    

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
